<!doctype html>
<html lang="en">
<head>
    <title>Registration form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/register.css">

</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Registration form</h2>
                <div id="messages"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    <h3 class="text-center mb-4">Registration</h3>
                    <form class="register-form" id="registerForm">
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Email" name="email"
                                   required>
                        </div>
                        <div class="form-group d-flex">
                            <input type="text" class="form-control rounded-left" placeholder="Username" name="name"
                                   required>
                        </div>
                        <div class="form-group d-flex">
                            <input type="password" class="form-control rounded-left" placeholder="Password"
                                   name="password"
                                   required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById('registerForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(this);
        const data = {
            email: formData.get('email'),
            userName: formData.get('name'),
            password: formData.get('password')
        };

        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.text();
            })
            .then(message => {
                document.getElementById('messages').innerText = message;
                if (message === "User registered successfully") {
                    window.location.href = "/login";  // Redirect to home page
                } else {
                    document.getElementById('messages').innerText = 'Not ok' + message;
                }
            })
            .catch(error => {
                document.getElementById('messages').innerText = 'Error registering user: ' + error.message;
            });
    });
</script>
</body>
</html>

